{% load static %}
<!DOCTYPE html>

<link rel="stylesheet" href="{% static '/css/Login.css' %}"> 

<html>
    <head>
        <title>
            Login Page
        </title>
    </head>
    <body>
        <header>
            {% include 'Login_header.html' %}
        </header>
        <main>
            <!-- important part -->

            {% include 'Login_main.html' %}
            
            <!-- important part -->
        </main>
        <footer>
            {% include 'Login_footer.html' %}
        </footer>
    </body>
</html>
